%h1 Listing hotels
%p
  - if user_signed_in?
    = link_to "Add new hotel", new_hotel_path, class: "btn btn-danger btn-lg"
  - else
    %h4
      %span
        = link_to 'Sign in', new_user_session_path
        %span to add new hotel
.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr.danger
          %th.col-md-1 Show
          %th.col-md-2 Title
          %th.col-md-2 User raiting
          %th.col-md-3 Room description
          %th.col-md-3 Price
          %th.col-md-2 Foto
      - @hotels.each do |hotel|
        %tbody
          %tr
            %td= link_to 'Show', hotel_path(hotel.id)
            %td
              %b= hotel.title
              %p
                %span Stars:
                = hotel.stars
            %td
              = hotel.aver_raiting.nil? ? 0 : hotel.aver_raiting.round(2)
            %td
              %p= hotel.rooms
              %p
                Breakfast:
                - if hotel.breakfast
                  %b present
                - else
                  %b no breakfast
            %td= hotel.price
            %td
              = image_tag hotel.foto.url.to_s, height: '100px' if hotel.foto?