%h1 New Hotel
.col-md-6.col-md-offset-3
  - if @hotel.errors.any?
    #error_explanation.well
      %h2.panel-danger
        = pluralize(@hotel.errors.count, "error")
        prohibited
        this article from being saved:
      %ul.list-unstyled
        - @hotel.errors.full_messages.each do |msg|
          %li.label-danger= msg
  = simple_form_for @hotel do |f|
    = f.input :title, label: 'Hotel name'
    = f.input :stars, as: :radio_buttons, collection: 1..5, label: 'Number of stars'
    = f.input :rooms, :label => 'Hotel description'
    = f.input :price, :label => 'Price for room'
    = f.input :breakfast, as: :boolean, :label => 'Breakfast  included'
    = f.input :foto, :label => 'Upload foto'
    %h3 Address
    = f.simple_fields_for :address do |ad|
      = ad.input :country, as: :string, label: 'Country'
      = ad.input :state, label: 'State'
      = ad.input :city, label: 'City'
      = ad.input :street, label: 'Street'
    = f.button :submit, :class => 'btn-danger'
  %br/
  = link_to 'To hotel list', hotels_path