- if @raiting.errors.any?
  .col-md-6.col-md-offset-3
    #error_explanation.well
      %h2.panel-danger
        = pluralize(@raiting.errors.count, 'error')
        prohibited
        raiting for this hotel from being saved:
      %ul.list-unstyled
        - @raiting.errors.full_messages.each do |msg|
          %li.label-danger= msg

.row
  .col-md-8.col-lg-8
    .panel.panel-danger
      .panel-heading
        %h4
          %b
            = @hotel.title
          %span.pull-right
            - @hotel.stars.times do
              %span.glyphicon.glyphicon-star
            - (5 - @hotel.stars).times do
              %span.glyphicon.glyphicon-star-empty
      .panel-body
        .media-list
          .media-left
            = image_tag @hotel.foto.url.to_s, width: '300px' if @hotel.foto?
            %br
            %br
            - unless @hotel.address.country.blank? & @hotel.address.state.blank? & @hotel.address.city.blank? & @hotel.address.street.blank?
              %b Address:
              .well.well-sm
                %ul.list-unstyled
                  - unless @hotel.address.country.blank?
                    %li
                      Country: #{@hotel.address.country}
                  - unless @hotel.address.state.blank?
                    %li
                      State: #{@hotel.address.state}
                  - unless @hotel.address.city.blank?
                    %li
                      City: #{@hotel.address.city}
                  - unless @hotel.address.street.blank?
                    %li
                      Street: #{@hotel.address.street}
          .media-body
            %h4
              %span User raiting:
              %span.badge
                = @hotel.aver_raiting.nil? ? 0 : @hotel.aver_raiting.round(2)
            %p
              %span Price for room:
              %b
                = @hotel.price
            %p
              %span Breakfast:
              - if @hotel.breakfast
                %b present
              - else
                %b no breakfast
            - unless @hotel.rooms.blank?
              .well.well-sm
                = @hotel.rooms



.row
  .col-md-6
    %br/
    %h2 Comments
    = render @hotel.raitings
    %h2 Add a comment:
    - if user_signed_in?
      = render 'raitings/form'
    - else
      .well.well-sm
        %b= link_to 'Sign in', new_user_session_path
        %span or
        %b= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Back to hotel list', hotels_path