.row
  .col-md-6
    %table.table.table-hover
      %thead
        %tr.danger
          %th.col-xs-1 Title
          %th.col-xs-6 Description
      %tbody
        %tr
          %td.col-xs-1 Title:
          %td.col-xs-6= @hotel.title
        %tr
          %td.col-xs-1 Stars:
          %td.col-xs-6= @hotel.stars
        %tr
          %td.col-xs-1 Users Raiting:
          %td.col-xs-6
            = @hotel.aver_raiting.nil? ? 0 : @hotel.aver_raiting.round(2)
        %tr
          %td.col-xs-1 Room description:
          %td.col-xs-6= @hotel.rooms
        %tr
          %td.col-xs-1 Price:
          %td.col-xs-6= @hotel.price
        %tr
          %td.col-xs-1 Breakfast:
          - if @hotel.breakfast
            %td.col-xs-6 present
          - else
            %td.col-xs-6 no breakfast
        %tr
          %td.col-xs-1 Foto:
          %td.col-xs-6= image_tag @hotel.foto.url.to_s, height: '100px' if @hotel.foto?
        %tr
          %td Address
          %td.col-xs-6
            %ul.list-unstyled
              %li
                Country: #{@hotel.address.country}
              %li
                State: #{@hotel.address.state}
              %li
                City: #{@hotel.address.city}
              %li
                Street: #{@hotel.address.street}
    %br/
    %h2 Comments
    - @hotel.raitings.each do |raiting|
      .well
        %p
          %strong Commenter:
          = raiting.commenter
        %p
          %strong Comment:
          = raiting.comment
        %p
          %strong Raiting:
          = raiting.raiting
    %h2 Add a comment:
    - if user_signed_in?
      = simple_form_for([@hotel, @hotel.raitings.build]) do |f|
        = f.error_notification
        %p
          = f.label :commenter
          %br/
          = current_user.email
        %p
          = f.label :comment
          %br/
          = f.text_area :comment
        %p
          = f.input :raiting, as: :radio_buttons, collection: 1..5
        %p
          = f.submit
    - else
      .well.well-sm
        %b= link_to 'Sign in', new_user_session_path
        %span or
        %b= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Back to hotel list', hotels_path