%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to '', root_path, id: "logo"
      %nav
        %ul.list-unstyled.list-inline.nav.navbar-nav.pull-right
          %li= link_to 'Home', root_path
          %li= link_to 'Hotels', hotels_path
          - if user_signed_in?
            %li
              %span
                Hello, #{current_user.email}
            %li= link_to 'Sign out', destroy_user_session_path, class: 'sign_out', :method => :delete
          - else
            %li= link_to 'Sign in', new_user_session_path
            %li
              %span or
            %li= link_to 'Sign up', new_user_registration_path